<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PeerPeak</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
</head>
<body>
  <h1>AIGHT BET!</h1>
  <h2>shittings</h2>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbQkw-NwL51nvVcslf7XshVLO_e0hc0hsnRgcYL_rzH1d9QzxzIoWgiDte&s=10" alt="VERITY">
</body>
</html>
